<div class="row">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
          <h2 class="cursive-font primary-color"><%= @category %></h2>
            <div id="add"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-md-offset-11 text-center gtco-heading">
          <%= paginate @products,remote: true%>
        </div>
      </div>
    <% @products.each do |product| %>

        <div class="col-lg-4 col-md-4 col-sm-6">
          <a href="/admin/establishments/<%= params[:establishment_id]%>/comandas?product_id=<%= product.id%>"  class="fh5co-card-item" data-method="post" data-remote="true">
            <figure>
              <div class="overlay"><i class="ti-plus"></i></div>
            <%= image_tag product.image_url, :class => 'center-block img-responsive' if product.image? %>
            </figure>
            <div class="fh5co-text">
              <h2><%= product.name %></h2>
              <p><%= product.description %></p>
              <p><span class="price cursive-font">R$ <%= (number_with_precision(product.price, :precision => 2) || 0)%></span></p>
           <!-- <%= link_to "Adicionar",admin_establishment_comandas_path(product_id: product.id, establishment_id: params[:establishment_id]) , method: :post, remote: true%>
            --></div>
          </a>

        </div>
        
    <% end %>
    </div>

      <div class="row">
        <div class="col-md-1 col-md-offset-11 text-center gtco-heading">
          <%= paginate @products ,remote: true%>
        </div>
      </div>
